<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<header>
	<!-- 
	Authenticated username:
        <spam sec:authentication="name"></spam>
        Authenticated user roles:
        <spam sec:authentication="principal.authorities"></spam>
<spam sec:authorize="hasRole('ROLE_CLIENTE')">Eres un CLIENTE</spam>
	<spam sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eres un ADMON</spam>
	<spam sec:authorize="hasRole('ROLE_GESTOR')">Eres un GESTOR</spam>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	
  <a class="navbar-brand" th:href="@{/}">RealFUN</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul  class="navbar-nav">
    
      <li   class="nav-item">
        <a class="nav-link" href="/verUno.html">Ver Uno</a>
      </li>
  

      <li class="nav-item" style="display: none;">
        <a class="nav-link" href="/eventosActivos.html">Eventos Activos</a>
      </li>
       
  
      <li sec:authorize="hasAnyRole('ROLE_CLIENTE','ROLE_GESTOR','ROLE_ADMINISTRADOR')" class="nav-item">
        <a class="nav-link" th:href="@{/listaEventos}">Lista De Eventos</a>
      </li>
         
       
      <li sec:authorize="hasAnyRole('ROLE_CLIENTE','ROLE_GESTOR','ROLE_ADMINISTRADOR')" class="nav-item">
        <a class="nav-link" th:href="@{/misReservas}">Mis Reservas</a>
      </li>
      
       <li sec:authorize="hasAnyRole('ROLE_CLIENTE','ROLE_GESTOR','ROLE_ADMINISTRADOR')" class="nav-item">
        <a class="nav-link" th:href="@{/miUsuario}">Mi Usuario</a>
      </li>
      
    
    </ul>
     </div>  
      <span>Bienvenido/a  <span sec:authorize="isAuthenticated()" th:text="${session.usuario.nombre}"></span>
      						<span sec:authorize="!isAuthenticated()"> Nuevo Usuario</span>
      </span>
   		
	<ul class="nav justify-content-end">
      <li   sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
							th:href="@{/login}">Iniciar Sesion</a></li>
		<li  sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
			th:href="@{/signup}">Registrarse</a></li>
	
		<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link"
				th:href="@{/logout}">Cerrar Sesion</a></li>	 
    </ul>
  
</nav>
</header>



	<div style="text-align:center; padding:150px" >
	<h1 >RealFUN</h1>
	<h4 style="padding:60px">Nos dedicamos a organizar Eventos para que tu no te tengas que preocupar de nada!!
	Somos especialistas en Bodas, Comuniones, Cumpleaños, Despedidas, Reuniones, Conciertos.
	Y aunque no este en nuestra lista solo tienes que mandarnos la información y nosotros
	nos encargaremos de organizarlo</h4>
	
	<h2>Echa un vistazo a todos nuestros eventos Activos!!</h2>
	<a th:href="@{/eventos/activos}">
	<input type="button" class="btn btn-primary " value="Ir a Eventos Activos">
	</a>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>